<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Chrome Web Store Ranking
    </title>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>
</head>
<body {% if data and data.eid %} class="chart--show"{% endif %}>

    <div class="search-container">
    
        <form action="{{ url_for('index') }}" method="post" class="search-form">
        
            <h1 class="container-title">
                <a href="/">
                    Chrome Web Store
                    <strong>
                        Ranking
                    </strong>
                </a>
            </h1>
            
            <p class="description-main">
                See how your Chrome extension is ranking over time, in different locations.
            </p>
            
            {% if data.created %}
                <p class="alert alert-success">
                    Added to the queue. Refresh this page in about 5 minutes or so and you'll get some data.
                </p>
            {% endif %}
            
            {% if error %}
                <p class="alert alert-danger">
                    {{ error }}
                </p>
            {% endif %}
        
            <div class="form-group">
                <label for="eid">
                    Extension ID
                </label>
                <input type="text" id="eid" value="{{ data.eid }}" class="form-control" name="eid" placeholder="lmcngpkjkplipamgflhioabnhnopeabf" required/>
            </div>
            
            <div class="row">
            
                <div class="col-md-6">
                
                    <div class="form-group">
                        <label for="search_term">
                            Search Term
                        </label>
                        <input type="text" id="search_term" value="{{data.search_term}}" class="form-control" name="search_term" placeholder="gmail" required/>
                    </div>
                
                </div>
                
                <div class="col-md-6">
                
                    <div class="form-group">
                        
                        <label for="category">
                            Type
                        </label>
                        
                        <select name="category" id="category" class="form-control">
                            <option value="extensions"{% if data.category == 'extensions' %} selected="selected"{% endif %}>
                                Extension
                            </option>
                            <option value="apps"{% if data.category == 'apps' %} selected="selected"{% endif %}>
                                App
                            </option>
                            <option value="themes"{% if data.category == 'themes' %} selected="selected"{% endif %}>
                                Theme
                            </option>
                        </select>
                        
                    </div>
                
                </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-spin fa-cog"></i>
                Get ranking
            </button>
        </form>
        
        <ul class="search-container-footer list-inline">
            <li>
                <a href="#aboutModal" data-toggle="modal" data-target="#aboutModal">
                    About
                </a>
            </li>
            <li>
                <a href="https://github.com/xarg" target="_blank">
                    Contact
                </a>
            </li>
        </ul>
        
    
    </div>

    <div class="chart-container">
        
        <h2 class="container-title">
            <a href="https://chrome.google.com/webstore/detail/{{ data.eid }}" target="_blank">
                <img src="{{ data.icon }}" class="icon-addon">
            
                {{ data.title }}
            </a>
        </h2>
    
        <script>
            var CHART_DATA = {};
        </script>
    
        {% if data.chart_data %}
            <script>
                CHART_DATA = {{ data.chart_data|safe }};
            </script>
            
            <div id="chart">
                <svg></svg>
            </div>
        {% else %}
            <div class="alert alert-info">
                Fetching stuff from Chrome Store... Refresh in a few minutes.
            </div>
        {% endif %}
    
    </div>
    
    <div class="modal fade" id="aboutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">About</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Built by
                        <a href="https://github.com/xarg" target="_blank">
                            @xarg</a>
                        with a little help from
                        <a href="https://github.com/ghinda">
                            @ghinda</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/static/js/_index.js"></script>
    
</body>
</html>